<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Icons Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Estilos propios-->
    <link rel="stylesheet" href="/style.css">

    <title>Productos</title>
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a href="#" class="navbar-brand"><span class="text-primary">Ruta</span>Ideal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
                    aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarS">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="/index.html" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="/views/sobreNosotros.html" class="nav-link">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a href="/views/products.html" class="nav-link">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/views/login.html" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/views/register.html" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="/views/ofertas.html" class="nav-link">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="portfolio section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header text-center text-white pb-5">
                            <h2>Ventas de tours por todo el Mundo</h2>
                            <p>Venta de excursiones y paseos para la familia, parejas y amigos.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class=" card text-light text-center bg-dark pb-2">
                            <div class="card-body text-white">
                                <div class="img-area mb-4">
                                    <img src="../image/Rio.jpg" class="img-fluid" alt="">
                                </div>
                                <h3>Un dia en Rio de Janeiro</h3>
                                <p class="lead">Obtenga una visión general de los lugares más importantes de Río durante
                                    esta completa excursión de 8 horas. Con un guía local, viaje a través del bosque de
                                    Tijuca, deteniéndose en Paineiras para abordar el transporte a la cima de Corcovado,
                                    hogar de la estatua del Cristo Redentor. Tome el teleférico de Urca hasta la cima de
                                    Sugar Loaf Mountain, luego almuerce en uno de los mejores asadores de la ciudad
                                    antes de visitar el estadio Maracanã y el Sambadrome. El transporte de ida y vuelta
                                    desde los hoteles de Río está incluido.
                                </p>
                                <button class="btn bg-primary text-white">Mas informacion</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4">
                        <div class=" card text-light text-center bg-dark pb-2">
                            <div class="card-body text-white">
                                <div class="img-area mb-4">
                                    <img src="../image/Ubud.jpg" class="img-fluid" alt="">
                                </div>
                                <h3>Ubud Tour</h3>
                                <p class="lead">Haga un recorrido de un día por la zona de Ubud para ver algunas de las
                                    atracciones más populares de Bali. Deténgase en Tegalalang Rice Terrace, la cascada
                                    de Tegenungan, el santuario del bosque de monos sagrados, un mercado de arte donde
                                    puede comprar recuerdos, el Palacio Puri Saren (Palacio de Ubud) y el Templo Tirta
                                    Empul, conocido por sus manantiales naturales.
                                </p>
                                <a class="btn bg-primary text-white"
                                    btn="https://www.viator.com/es-ES/tours/Ubud/Private-Sightseeing-Tour-Ubud-and-Waterfall/d5467-86621P5">Mas
                                    informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4">
                        <div class=" card text-light text-center bg-dark pb-2">
                            <div class="card-body text-white">
                                <div class="img-area mb-4">
                                    <img src="../image/Machupichu.jpg" class="img-fluid" alt="">
                                </div>
                                <h3>Machu Picchu</h3>
                                <p class="lead">La ciudad perdida de Machu Picchu es el yacimiento arqueológico más
                                    famoso de Perú y, posiblemente, de toda América del Sur. La colección de templos,
                                    colinas en terrazas y plazas, declarada Patrimonio de la Humanidad por la UNESCO,
                                    fue una vez la ciudadela en la cima de la montaña del antiguo imperio inca. Puede
                                    que ahora sea mundialmente famoso, pero Machu Picchu aún no ha revelado los
                                    misterios detrás de su construcción, función y eventual desaparición.</p>
                                <button class="btn bg-primary text-white">Mas informacion</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class=" card text-light text-center bg-dark pb-2">
                            <div class="card-body text-white">
                                <div class="img-area mb-4">
                                    <img src="../image/Cataratas.jpg" class="img-fluid" alt="">
                                </div>
                                <h3>Cataratas del Iguazú</h3>
                                <p class="lead">Visita ambos lados de las Cataratas del Iguazú, una de las Maravillas
                                    Naturales del Mundo, en un tour en grupos pequeños. Cruzar la frontera con Argentina
                                    y acercarse a las poderosas aguas en la "Garganta del Diablo", así como a los
                                    circuitos superiores e inferiores. Luego regrese al lado brasileño, que es más
                                    indómito y cuenta con más vida silvestre, como por ejemplo, simpáticos amigos y aves
                                    tropicales.
                                </p>
                                <button class="btn bg-primary text-white">Mas informacion</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class=" card text-light text-center bg-dark pb-2">
                            <div class="card-body text-white">
                                <div class="img-area mb-4">
                                    <img src="../image/Coliseo.jpg" class="img-fluid" alt="">
                                </div>
                                <h3>Coliseo</h3>
                                <p class="lead">El Coliseo ha sido un símbolo de Roma desde el año 80 d. C., y hoy en
                                    día es un monumento muy popular en Italia. Unos 50 000 espectadores se reunieron una
                                    vez en los asientos escalonados del anfiteatro para ver los juegos de gladiadores y,
                                    aunque algunas partes de su fachada de mármol original fueron robadas a lo largo de
                                    los años para construir cosas como la Basílica de San Pedro, el Coliseo permanece
                                    intacto 2000 años después.</p>
                                <button class="btn bg-primary text-white">Mas informacion</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class=" card text-light text-center bg-dark pb-2">
                            <div class="card-body text-white">
                                <div class="img-area mb-4">
                                    <img src="../image/" class="img-fluid" alt="">
                                </div>
                                <h3>Playa 3</h3>
                                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, at
                                    explicabo.
                                    Repellendus, perferendis, amet illo magni culpa debitis veritatis impedit sapiente
                                    odio
                                    saepe ipsum qui dolore autem praesentium suscipit nesciunt.</p>
                                <button class="btn bg-primary text-white">Mas informacion</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>2023 - Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>