<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Tipogrfia Roboto -->
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
      <!-- Libreria Fontawesome-->
      <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
  
      <!-- Estilos propios -->
      <link href="./public/css/style.css" rel="stylesheet">
    <title>Sobre nosotros</title>
</head>

<body>
    <header class="header">
        <h1>PuroAromas</h1>
        <nav class="navbar">
            <ul>
                <li><a href="./products.html">Productos</a></li>
                <li><a href="./sobreNosotros.html">Nosotros</a></li>
                <li><a href="./login.html">Iniciar sesion</a></li>
                <li><a href="./register.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <p>Somos un emprendimiento de velas artesanales, de soja y veganas. Nos dedicamos plenamente a la venta minorista de velas. 
        El emprendimiento comenzo en 2022 con ganas de crecer y expandirse hasta llegar a las ventas mayoristas!!!
       </p>
    </main>

    <footer>
        <div>
            <a href="" target="_blank">
                <img src="" alt="">
            </a>
            <a href="" target="_blank">
                <img src="" alt="">
            </a>
        </div>
        <div class="texto">
            <p>2023 - Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>