/*GLOBALES*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para box model */
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    background-color: #ebd2c6;
}

a {
    text-decoration: none;
    padding: 18px;
    color: black;
    font-family: "arial", sans-serif;
    text-align: center;
}

ul {
    list-style: none;
}

/*TIPOGRAFIAS*/
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color: rgb(176, 232, 239);
}

h3 {
    font-size: 20px;
    color: black;
}

h1,
h2,
h3 {
    text-align: center;
}

/*HEADER*/
.header {
    display: flex;
    flex-direction: column;

}

.navbar {
    margin-top: 10px;
    padding-left: 300px;
}

li {
    display: inline;
}

/*SECTION*/
.product-conatiner {
    margin: 10px;
    text-align: center;
}